@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">O_O</h1>
    <p>嘿！ 這是聊天機器人後台。 <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>